{% extends 'index.html.twig' %}

{% block title %}Отделы ТЦ{% endblock %}

{% block bread_crumbs %}
    <div class="row border_grey_b" >
        <div class="wa" >
            <div class="bread_crumbs_row" >
                <a href="{{ path('index') }}" ><span >Главная</span ></a >
                <span class="rp20" >></span >
                <span class="active_crumbs" >Отделы ТЦ</span >
            </div >
        </div >
    </div >
{% endblock %}
{% block page_menu %}
    <div class="row border_grey_b" >
        <div class="wa" >
            <div class="page_menu cm20" >
                <span class="department_item active_page_menu fl" >{{ 'Одежда'|upper }}</span >
                <span class="department_item" ><a href="" >{{ 'Женская одежда'|upper }}</a > </span >
            </div >
        </div >
    </div >
{% endblock %}
{% block content %}
    <div class="row" >
        <div class="wa" >
            <div class="row_departments" >
                <div class="brand_item" >
                    <img src="{{ asset('img/befree.png') }}" alt="" class="logo" >
                </div >
                <div class="brand_item" >
                    <img src="{{ asset('img/ostin.png') }}" alt="" class="logo" >
                </div >
                <div class="brand_item" >
                    <img src="{{ asset('img/bc.png') }}" alt="" class="logo" >
                </div >
                <div class="brand_item" >
                    <img src="{{ asset('img/tvoe.png') }}" alt="" class="logo" >
                </div >
                <div class="brand_item" >
                    <img src="{{ asset('img/ostin.png') }}" alt="" class="logo" >
                </div >
            </div >
            <div class="row_departments white_bm" >
                <div class="brand_item" >
                    <img src="{{ asset('img/befree.png') }}" alt="" class="logo" >
                </div >
                <div class="brand_item" >
                    <img src="{{ asset('img/ostin.png') }}" alt="" class="logo" >
                </div >
                <div class="brand_item" >
                    <img src="{{ asset('img/bc.png') }}" alt="" class="logo" >
                </div >
                <div class="brand_item" >
                    <img src="{{ asset('img/tvoe.png') }}" alt="" class="logo" >
                </div >
                <div class="brand_item" >
                    <img src="{{ asset('img/ostin.png') }}" alt="" class="logo" >
                </div >
            </div >
            <div class="row white_bm" >
                <div class="wa" >
                    <div class="row_inline_brand" >
                        <div class="action_img_blk fl" >
                            <img src="{{ asset('img/imgact.jpg') }}" class="action_img" >
                        </div >
                        <div class="brank_descriptin_blk fl" >
                            <div class="brand_blk_inline" >
                                <div class="close fr">
                                </div>
                                <div class="brand_logo_inline fl" >
                                    <img src="{{ asset('img/logoact.png') }}" >
                                </div >
                                <div class="row cm35" >
                                    <div class="button fl" >
                                        ПОКАЗАТЬ НА КАРТЕ
                                    </div >
                                    <div class="floor_brand_inline black fl " >
                                        2 этаж
                                    </div >
                                    <div class="link_brand_inline fl " >
                                        http://bershka-super-puper.com
                                    </div >

                                    <div class="row cm35 main_vertical_flex" >
                                        <div class="action_description" >
                                            Как часто мы приходим навестить родителей и слышим критику?
                                            Особенно в адрес того, как мы одеты. Особенно от мамы, которая
                                            (и так и должно быть) знает лучше. Если тебе знакома такая ситуация,
                                            то порадуй ее. И себя. Обнови гардероб и взгляни на себя по-новому.
                                            Как часто мы приходим навестить родителей и слышим критику?
                                            Особенно в адрес того, как мы одеты. Особенно от мамы, которая
                                            (и так и должно быть) знает лучше. Если тебе знакома такая ситуация,
                                            то порадуй ее. И себя. Обнови гардероб и взгляни на себя по-новому.
                                            Как часто мы приходим навестить родителей и слышим критику?
                                            Особенно в адрес того, как мы одеты. Особенно от мамы, которая
                                            (и так и должно быть) знает лучше. Если тебе знакома такая ситуация,
                                            то порадуй ее. И себя. Обнови гардероб и взгляни на себя по-новому.
                                            Как часто мы приходим навестить родителей и слышим критику?
                                            Особенно в адрес того, как мы одеты. Особенно от мамы, которая
                                            (и так и должно быть) знает лучше. Если тебе знакома такая ситуация,
                                            то порадуй ее. И себя. Обнови гардероб и взгляни на себя по-новому.
                                            Как часто мы приходим навестить родителей и слышим критику?
                                            Особенно в адрес того, как мы одеты. Особенно от мамы, которая
                                            (и так и должно быть) знает лучше. Если тебе знакома такая ситуация,
                                            то порадуй ее. И себя. Обнови гардероб и взгляни на себя по-новому.
                                            Как часто мы приходим навестить родителей и слышим критику?
                                            Особенно в адрес того, как мы одеты. Особенно от мамы, которая
                                            (и так и должно быть) знает лучше. Если тебе знакома такая ситуация,
                                            то порадуй ее. И себя. Обнови гардероб и взгляни на себя по-новому.
                                            Как часто мы приходим навестить родителей и слышим критику?
                                            Особенно в адрес того, как мы одеты. Особенно от мамы, которая
                                            (и так и должно быть) знает лучше. Если тебе знакома такая ситуация,
                                            то порадуй ее. И себя. Обнови гардероб и взгляни на себя по-новому.
                                            Как часто мы приходим навестить родителей и слышим критику?
                                            Особенно в адрес того, как мы одеты. Особенно от мамы, которая
                                            (и так и должно быть) знает лучше. Если тебе знакома такая ситуация,
                                            то порадуй ее. И себя. Обнови гардероб и взгляни на себя по-новому.
                                            Как часто мы приходим навестить родителей и слышим критику?
                                            Особенно в адрес того, как мы одеты. Особенно от мамы, которая
                                            (и так и должно быть) знает лучше. Если тебе знакома такая ситуация,
                                            то порадуй ее. И себя. Обнови гардероб и взгляни на себя по-новому.
                                            Как часто мы приходим навестить родителей и слышим критику?
                                            Особенно в адрес того, как мы одеты. Особенно от мамы, которая
                                            (и так и должно быть) знает лучше. Если тебе знакома такая ситуация,
                                            то порадуй ее. И себя. Обнови гардероб и взгляни на себя по-новому.
                                        </div >
                                        <div class="smm_links_blk black cm35" >
                                            <div >{{ 'Подписывайте в соц сетях'|upper }} </div >
                                            <div class="smm_link_item" ></div >
                                        </div >
                                    </div >
                                </div >
                            </div >
                        </div >
                    </div >
                </div >
                <div class="help" ></div >
            </div >
            <div class="row_departments" >

                <div class="brand_item" >
                    <img src="{{ asset('img/befree.png') }}" alt="" class="logo" >
                </div >
                <div class="brand_item" >
                    <img src="{{ asset('img/cal.png') }}" alt="" class="logo" >
                </div >
            </div >
            <div class="flex f_gorizontal cm35">
                <div class="button" >Показать ещё</div >
            </div >
        </div >
    </div >

{% endblock %}

