<!DOCTYPE html>
<html >
<head >
    <meta charset="UTF-8" >
    <title >{% block title %}ТЦ Смайл{% endblock %}</title >
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" >
    {% endblock %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" ></script >
</head >
<body >

{% block menu %}
    <div class="row" >
        <div class="wa" >
            <div class="row_up_menu" >
                <div class="worktime_blk" >
                    <div class="fl" >
                        <img src="{{ asset('img/clock.svg') }}" class="clock_ikon" >
                    </div >
                    <div class="work_time fl" >
                        Cегодня открыт до 22:00<br >
                        <div class="hover_link fl" >режим работы
                            <div class="toolti_work_time" >

                                <div class="work_time_contact_area red_b" >
                                    <div class="name_contact_filds center white_c" >РЕЖИМ РАБОТЫ</div >
                                </div >
                                <div class="work_days_area " >
                                    <div class="work_time_block flex f_gorizontal" >
                                        <div class="work_time_item" >
                                            <div class="week_day center" >
                                                ПН
                                            </div >
                                            <div class="week_day_work_hours center" >
                                                <div class="start_work center" >10:00</div >
                                                <div class="finish_work center" >22:00</div >
                                                <div class="today">сегодня</div>
                                            </div >
                                        </div >
                                        <div class="vertical_separator" ></div >
                                        <div class="work_time_item" >
                                            <div class="week_day center" >
                                                ВТ
                                            </div >
                                            <div class="week_day_work_hours center" >
                                                <div class="start_work center" >10:00</div >
                                                <div class="finish_work center" >22:00</div >
                                            </div >
                                        </div >
                                        <div class="vertical_separator" ></div >
                                        <div class="work_time_item" >
                                            <div class="week_day center" >
                                                СР
                                            </div >
                                            <div class="week_day_work_hours center" >
                                                <div class="start_work center" >10:00</div >
                                                <div class="finish_work center" >22:00</div >
                                            </div >
                                        </div >
                                        <div class="vertical_separator" ></div >
                                        <div class="work_time_item" >
                                            <div class="week_day center" >
                                                ЧТ
                                            </div >
                                            <div class="week_day_work_hours center" >
                                                <div class="start_work center" >10:00</div >
                                                <div class="finish_work center" >22:00</div >
                                            </div >
                                        </div >
                                        <div class="vertical_separator" ></div >
                                        <div class="work_time_item" >
                                            <div class="week_day center" >
                                                ПТ
                                            </div >
                                            <div class="week_day_work_hours center" >
                                                <div class="start_work center" >10:00</div >
                                                <div class="finish_work center" >22:00</div >
                                            </div >
                                        </div >
                                        <div class="vertical_separator" ></div >
                                        <div class="work_time_item" >
                                            <div class="week_day center" >
                                                СБ
                                            </div >
                                            <div class="week_day_work_hours center" >
                                                <div class="start_work center" >10:00</div >
                                                <div class="finish_work center" >22:00</div >
                                            </div >
                                        </div >
                                        <div class="vertical_separator" ></div >
                                        <div class="work_time_item" >
                                            <div class="week_day center" >
                                                ВС
                                            </div >
                                            <div class="week_day_work_hours center" >
                                                <div class="start_work center" >10:00</div >
                                                <div class="finish_work center" >22:00</div >
                                            </div >
                                        </div >
                                    </div >

                                </div >
                                <div class="separator" ></div >
                                <div class="center black black_c" >
                                    ПАРКОВКА
                                </div >
                                <div class="center black_c" >
                                    круглосуточно
                                </div >

                            </div >
                        </div >
                    </div >
                </div >
                <div class="maps_menu_blk fr" >
                    <div class="path_map_menu_blk fl rp20" >
                        <div class="rp20 fl" >
                            <img src="{{ asset('img/navigate.svg') }}" class="navigate_ikon" >
                        </div >
                        <div class=" fl" >
                            <a href="{{ path('path') }}" > Как добраться</a >
                        </div >
                    </div >
                    <div class="floors_map_menu_blk fl rp20" >
                        <div class="rp20 fl" >
                            <img src="{{ asset('img/map.svg') }}" class="map_ikon" >
                        </div >
                        <div class=" fl" >
                            <a href="{{ path('our_map') }}" >Карта этажей</a >
                        </div >
                    </div >
                </div >
            </div >
        </div >
    </div >
    <div class="row border_grey" >
        <div class="wa" >
            <div class="row_menu" >
                <div class="fl" >
                    <a href="{{ path('index') }}" ><img src="{{ asset('img/logo.png') }}" alt="" class="logo" ></a >
                </div >
                <div class="menu_blk fr rp20" id="menu" >
                    <div class="menu_item fl rp20" >
                        <a href="{{ path('news') }}" >НОВОСТИ И АКЦИИ</a >
                    </div >
                    <div class="menu_item fl rp20" >
                        <a href="{{ path('department') }}" >ОТДЕЛЫ ТЦ</a >
                    </div >
                    <div class="menu_item fl rp20" >
                        <a href="{{ path('contacts') }}" >КОНТАКТЫ</a >
                    </div >
                    <div class="menu_item fl rp20" >
                        <a href="{{ path('for_renter') }}" >АРЕНДАТОРУ</a >
                    </div >
                    <div class="menu_item fl rp20" >
                        <a href="{{ path('ad') }}" >РАЗМЕЩЕНИЕ РЕКЛАМЫ В ТЦ</a >
                    </div >
                </div >
            </div >
        </div >
    </div >
{% endblock %}

{% block bread_crumbs %}
{% endblock %}

{% block page_menu %}
{% endblock %}

{% block content %}
    <div class="row" >
        <div class="wa" >
            <div class="slider" >
                <img src="{{ asset('img/slider.png') }}" >
            </div >
        </div >
    </div >
    <div class="row dark_gre_b white_bm" >
        <div class="wa" >
            <div class="row_brand_slider" >
                <div class="index_brend_slider" >
                    <div class="turn_slider_blk fl dark_gre_b" >
                        <img src="{{ asset('img/left.svg') }}" class="brand_slider_next" >
                    </div >
                    <div class="brands_area_slider fl " >
                        <div class="brend_item fl" >
                            <img src="{{ asset('img/pull.png') }}" >
                        </div >
                        <div class="brend_item fl" >
                            <img src="{{ asset('img/zara.png') }}" >
                        </div >
                        <div class="brend_item fl" >
                            <img src="{{ asset('img/bershka.png') }}" >
                        </div >
                        <div class="brend_item fl" >
                            <img src="{{ asset('img/hm.png') }}" >
                        </div >
                        <div class="button_white fl" >СМОТРЕТЬ ВСЁ</div >
                    </div >
                    <div class="turn_slider_blk fr dark_gre_b" >
                        <img src="{{ asset('img/right.svg') }}" class="brand_slider_next" >
                    </div >
                </div >
            </div >
        </div >
    </div >
    <div class="row white_bm white_gre_b" >
        <div class="wa" >
            <div class="about_index" id="about" >
                <h2 class='center' >
                    О ПРОЕКТЕ
                </h2 >
                <div class="advantages_blk flex f_vertical f_gorizontal" >
                    <div class="advantage_item fl" >
                        Первый<br >
                        профессиональный<br >
                        торговый центр в Томске
                    </div >
                    <div class="advantage_item fl" >
                        Уникальные<br >
                        бренды для города
                    </div >
                    <div class="advantage_item fl" >
                        Пространство<br >
                        для шоппинга, общения<br >
                        и отдых
                    </div >
                    <div class="advantage_item fl" >
                        500<br >
                        парковочных мест
                    </div >
                </div >
                <div class="description" >
                    <h3 class="center font20" >ТЦ Смайл </h3 >
                    <div class="font20 center" >
                        пространство где вы можете совместить приятное с полезным и всей семьей хорошо провести время в
                        любой день недели.
                    </div >
                </div >
            </div >
        </div >
    </div >
    <div class="row white_bm red_b white_c" >
        <div class="wa" >
            <div class="actions_index" >
                <h2 class='center white_c' >
                    НОВОСТИ И АКЦИИ
                </h2 >
                <div class="index_actions_slider" >
                    <div class="next_action_slider" ></div >
                    <div class="index_actions_item fl" >
                        <div class="action_img" >
                            <img src="{{ asset('img/act1-80.jpg') }}" alt="" class="action_item" >
                        </div >
                        <div class="hatch" >
                            <img src="{{ asset('img/hatch.png') }}" alt="" class="action_item" >
                        </div >
                        <div class="action_text_blk" >
                            <div class="action_content" >
                                <div class="type_action" >
                                    Новости
                                </div >
                                <h4 >
                                    Как одеваться весной
                                </h4 >
                                <div class="index_action_descriptin" >
                                    Для тех кто не хочет выглядеть как радуга
                                </div >
                            </div >
                            <div class="action_date" >
                                14 апреля 2019
                            </div >
                        </div >
                    </div >
                    <div class="index_actions_item fl" >
                        <div class="action_img" >
                            <img src="{{ asset('img/ac4-80.png') }}" alt="" class="action_item" >
                        </div >
                        <div class="hatch" >
                            <img src="{{ asset('img/hatch.png') }}" alt="" class="action_item" >
                        </div >
                        <div class="action_text_blk" >
                            <div class="action_content" >
                                <div class="type_action" >
                                    Новости
                                </div >
                                <h4 >
                                    Как одеваться весной
                                </h4 >
                                <div class="index_action_descriptin" >
                                    Для тех кто не хочет выглядеть как радуга
                                </div >
                            </div >
                            <div class="action_date" >
                                14 апреля 2019
                            </div >
                        </div >
                    </div >
                    <div class="index_actions_item fl" >
                        <div class="action_img" >
                            <img src="{{ asset('img/ac3-80.png') }}" alt="" class="action_item" >
                        </div >
                        <div class="hatch" >
                            <img src="{{ asset('img/hatch.png') }}" alt="" class="action_item" >
                        </div >
                        <div class="action_text_blk" >
                            <div class="action_content" >
                                <div class="type_action" >
                                    Новости
                                </div >
                                <h4 >
                                    Как одеваться весной
                                </h4 >
                                <div class="index_action_descriptin" >
                                    Для тех кто не хочет выглядеть как радуга
                                </div >
                            </div >
                            <div class="action_date" >
                                14 апреля 2019
                            </div >
                        </div >
                    </div >
                    <div class="index_actions_item fl" >
                        <div class="action_img" >
                            <img src="{{ asset('img/ac2-80.png') }}" alt="" class="action_item" >
                        </div >
                        <div class="hatch" >
                            <img src="{{ asset('img/hatch.png') }}" alt="" class="action_item" >
                        </div >
                        <div class="action_text_blk" >
                            <div class="action_content" >
                                <div class="type_action" >
                                    Новости
                                </div >
                                <h4 >
                                    Как одеваться весной
                                </h4 >
                                <div class="index_action_descriptin" >
                                    Для тех кто не хочет выглядеть как радуга
                                </div >
                            </div >
                            <div class="action_date" >
                                14 апреля 2019
                            </div >
                        </div >
                    </div >
                    <div class="next_action_slider" ></div >
                </div >
                <div class="black_button center" >
                    СМОТРЕТЬ ВСЕ<br >
                    НОВОСТИ И АКЦИИ
                </div >
                <div class="help" ></div >
            </div >
        </div >
    </div >
{% endblock %}
{% block subscribe %}
    <div class="row white_bm" >
        <div class="row_subscribe" >
            <div class="left_part_subscribe fl" >
                <div class="right" >
                    <img class="subscribe" src="{{ asset('img/subscribe.png') }}" >
                </div >
            </div >
            <div class="right_part_subscribe fl" >
                <div class="subscribe_blk" >
                    <div class="font20 black" >
                        ПОДПИШИСЬ НА НАШУ РАССЫЛКУ
                    </div >
                    <div class="subscribe_text" >
                        и регулярно получай купоны<br >
                        на розыгрыши бытовой и цифровой техники<br >
                        и другихполезных призов!<br >
                    </div >
                    <div >
                        <input type="text" class="subscribe_input" placeholder="EMAIL" >
                    </div >
                    <div >
                        <input type="checkbox" >
                        <span > Я прочитал и принимаю <a href=""
                                                         class="grey_link" >политику конфиденциальности</a ></span >
                    </div >
                    <div class="cm20" >
                        <div class="button fl" >Подписаться</div >
                    </div >
                </div >
            </div >
        </div >
    </div >
{% endblock %}
{% block smm %}
    <div class="row" >
        <div class="social_media_blk" >
            <div class="smm_item" >
                <div class="smm_in" ></div >
            </div >
            <div class="smm_item" >
                <div class="smm_vk" ></div >
            </div >
            <div class="smm_item" >
                <div class="smm_fb" ></div >
            </div >
        </div >
    </div >
{% endblock %}
{% block footer %}
    <div class="row footer_grey" >
        <div class="wa" >
            <div class="footer " >
                <div class="footer_contacts_blk fl" >
                    <div class="footer_contacts black" >
                        +7 (3822) 903-428<br >
                        Г. ТОМСК УЛ УЧЕБНАЯ, 48Д
                    </div >
                    <div class="regulations" >
                        <a href="" class="grey_link" >Правила пребывания в СМАЙЛ city</a >
                    </div >
                </div >
                <div class="footer_menu_blk fl" >
                    <div class="pr40 fl" >
                        <div class="footer_menu_item" >
                            <a href="#about" >О проекте</a >
                        </div >
                        <div class="footer_menu_item" >
                            <a href="{{ path('news') }}" >Новости и акции</a >
                        </div >
                        <div class="footer_menu_item" >
                            <a href="{{ path('department') }}" >Отделы ТЦ</a >
                        </div >
                    </div >
                    <div class="pr40 fl" >
                        <div class="footer_menu_item" >
                            <a href="{{ path('contacts') }}" >Контакты</a >
                        </div >
                        <div class="footer_menu_item" >
                            <a href="{{ path('for_renter') }}" >Арендатору</a >
                        </div >
                        <div class="footer_menu_item" >
                            <a href="{ path('ad') }}" >Размещение рекламы в ТЦ</a >
                        </div >
                    </div >
                </div >
                <div class="footer_menu_logo" >
                    <div class="right" >
                        <a href="{ path('index') }}" ><img src="{{ asset('img/logo.png') }}" alt=""
                                                           class="footer_logo" ></a >
                    </div >
                </div >
            </div >
        </div >
    </div >

{% endblock %}
{% block javascripts %}

    <script type="text/javascript" >
        $(document).ready(function () {
            $('a[href^="#"], *[data-href^="#"]').on('click', function (e) {
                e.preventDefault();
                var t = 1000;
                var d = $(this).attr('data-href') ? $(this).attr('data-href') : $(this).attr('href');
                $('html,body').stop().animate({scrollTop: $(d).offset().top - 200}, t);
            });
        });
    </script >
{% endblock %}
</body >
</html >
