<!DOCTYPE html>
<html >
<head >
    <meta charset="UTF-8" >
    <title >{% block title %}ТЦ Смайл{% endblock %}</title >
    {% block stylesheets %}
        {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
        {#integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" >

    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    {#<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" ></script >#}

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script >
    {#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous" ></script >
    {#<script#}
    {#src="https://code.jquery.com/jquery-3.4.0.js"#}
    {#integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="#}
    {#crossorigin="anonymous"></script>#}
    {#<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script >#}


    <script type="text/javascript" >!function () {
            var t = document.createElement("script");
            t.type = "text/javascript", t.async = !0, t.src = "https://vk.com/js/api/openapi.js?161", t.onload = function () {
                VK.Retargeting.Init("VK-RTRG-383863-4vQKO"), VK.Retargeting.Hit()
            }, document.head.appendChild(t)
        }();</script >
    <noscript ><img src="https://vk.com/rtrg?p=VK-RTRG-383863-4vQKO" style="position:fixed; left:-999px;" alt="" />
    </noscript >

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" > (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        ym(54361825, "init", {clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true}); </script >
    <noscript >
        <div ><img src="https://mc.yandex.ru/watch/54361825" style="position:absolute; left:-9999px;" alt="" /></div >
    </noscript > <!-- /Yandex.Metrika counter -->
    <!-- Facebook Pixel Code -->
    <script >
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '635569723621789');
        fbq('track', 'PageView');
    </script >
    <noscript ><img height="1" width="1" style="display:none"
                    src="https://www.facebook.com/tr?id=635569723621789&ev=PageView&noscript=1"
        /></noscript >
    <!-- End Facebook Pixel Code -->
</head >
<body >

{% block menu %}

    <div class="d-lg-none" >

        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <a href="{{ path('index') }}" class="navbar-brand " ><img src="{{ asset('img/logo.png') }}" alt=""
                                                                      class="logo navbar-brand" ></a >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon" ></span >
            </button >
            <div class="collapse navbar-collapse" id="navbarNav" >
                <ul class="navbar-nav text-center" >


                    <li class="nav-item " >
                        <a class="nav-link a_link" href="{{ path('news') }}" >НОВОСТИ И АКЦИИ</a >
                    </li >
                    <li class="nav-item " >
                        <a class="nav-link a_link" href="{{ path('department') }}" >ОТДЕЛЫ ТЦ</a >
                    </li >
                    <li class="nav-item " >
                        <a class="nav-link a_link" href="{{ path('contacts') }}" >КОНТАКТЫ</a >
                    </li >
                    <li class="nav-item " >
                        <a class="nav-link a_link"
                           href="{{ path('plainpage_show',{'linkName':'for_renter'}) }}" >АРЕНДАТОРУ</a >
                    </li >
                    <li class="nav-item" >
                        <a class="nav-link " href="{{ path('plainpage_show',{'linkName':'ad'}) }}" >РАЗМЕЩЕНИЕ РЕКЛАМЫ В
                            ТЦ</a >
                    </li >

                    <li class="nav-item" >

                        <div class="rp20" >
                            <img src="{{ asset('img/navigate.svg') }}" class="navigate_ikon" >
                        </div >
                        <div class="" >
                            <a href="{{ path('path') }}" > Как добраться</a >
                        </div >

                    </li >
                    {#<li class="nav-item" >#}
                    {#<div class="rp20" >#}
                    {#<img src="{{ asset('img/map.svg') }}" class="map_ikon" >#}
                    {#</div >#}
                    {#<div class="" >#}
                    {#<a href="{{ path('our_map') }}" >Карта этажей</a >#}
                    {#</div >#}
                    {#</li >#}
                </ul >
            </div >
        </nav >
    </div >
    <div class="d-none d-lg-block" >
        <div class="row_my" >
            <div class="wa" >
                <div class="row_up_menu container" >
                    <div class="worktime_blk row" >
                        <div class="fl" >
                            <img src="{{ asset('img/clock.svg') }}" class="clock_ikon" >
                        </div >
                        <div class="work_time fl" >
                            Cегодня открыт до 22:00<br >
                            <div class="hover_link fl" >режим работы
                                <div class="toolti_work_time" >

                                    <div class="work_time_contact_area red_b" >
                                        <div class="name_contact_filds center white_c" >РЕЖИМ РАБОТЫ</div >
                                    </div >
                                    <div class="work_days_area " >
                                        <div class="work_time_block flex f_gorizontal" >
                                            {% for index,day in work_time %}
                                                <div class="work_time_item" >
                                                    <div class="week_day center" >
                                                        {{ index }}
                                                    </div >
                                                    <div class="week_day_work_hours center" >
                                                        <div class="start_work center" >{{ day.start }}</div >
                                                        <div class="finish_work center" >{{ day.finish }}</div >
                                                        {% if (('now'|date('w'))==loop.index) %}
                                                            <div class="today" >сегодня</div >
                                                        {% endif %}
                                                    </div >
                                                </div >
                                                {% if loop.last %}
                                                {% else %}
                                                    <div class="vertical_separator" ></div >
                                                {% endif %}
                                            {% endfor %}
                                        </div >

                                    </div >
                                    <div class="separator" ></div >
                                    <div class="center black black_c" >
                                        ПАРКОВКА
                                    </div >
                                    <div class="center black_c" >
                                        08:00 - 22:00
                                    </div >

                                </div >
                            </div >
                        </div >
                    </div >
                    <div class="maps_menu_blk fr" >
                        <div class="path_map_menu_blk fl rp20" >
                            <div class="rp20 fl" >
                                <img src="{{ asset('img/navigate.svg') }}" class="navigate_ikon" >
                            </div >
                            <div class=" fl" >
                                <a href="{{ path('path') }}" > Как добраться</a >
                            </div >
                        </div >
                        {#<div class="floors_map_menu_blk fl rp20" >#}
                        {#<div class="rp20 fl" >#}
                        {#<img src="{{ asset('img/map.svg') }}" class="map_ikon" >#}
                        {#</div >#}
                        {#<div class=" fl" >#}
                        {#<a href="{{ path('our_map') }}" >Карта этажей</a >#}
                        {#</div >#}
                        {#</div >#}
                    </div >
                </div >

            </div >
        </div >
    </div >
    <div class="d-none d-lg-block" >
        <div class="row_my border_grey " >
            <div class="wa" >
                <div class="row_menu" >
                    <div class="fl" >
                        <a href="{{ path('index') }}" ><img src="{{ asset('img/logo.png') }}" alt=""
                                                            class="logo navbar-brand" ></a >
                    </div >
                    <div class="menu_blk fr rp20" id="menu" >
                        <div class="menu_item fl rp20" >
                            <a href="{{ path('news') }}" >НОВОСТИ И АКЦИИ</a >
                        </div >
                        <div class="menu_item fl rp20" >
                            <a href="{{ path('department') }}" >ОТДЕЛЫ ТЦ</a >
                        </div >
                        <div class="menu_item fl rp20" >
                            <a href="{{ path('contacts') }}" >КОНТАКТЫ</a >
                        </div >
                        <div class="menu_item fl rp20" >
                            <a href="{{ path('plainpage_show',{'linkName':'for_renter'}) }}" >АРЕНДАТОРУ</a >
                        </div >
                        <div class="menu_item fl rp20" >
                            <a href="{{ path('plainpage_show',{'linkName':'ad'}) }}" >РАЗМЕЩЕНИЕ РЕКЛАМЫ В ТЦ</a >
                        </div >
                    </div >
                </div >
            </div >
        </div >
    </div >
    {#</div >#}
    {#</nav >#}
{% endblock %}

{% block bread_crumbs %}
{% endblock %}

{% block page_menu %}
{% endblock %}

{% block content %}
    <div class="container-fluid" >
        <div class="container" >
            <div class="row" >
                <div class="col-12" >
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >
                        <ol class="carousel-indicators" >
                            {% for slider in sliders %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index }}"
                                    class="active" ></li >
                            {% endfor %}

                        </ol >
                        <div class="carousel-inner" >
                            {% for slider in sliders %}
                                <div class=" carousel-item {% if loop.index == 1 %} active {% endif %}" >
                                    {% if (slider.link is null) or (slider.link =='' ) %}
                                {% else %}
                                    <a href="{{ slider.link }}" >
                                        {% endif %}
                                        <img class='img-fluid d-block w-100' src="/uploads/file/{{ slider.image }}" >
                                        {% if (slider.link is null) or (slider.link =='' ) %}
                                        {% else %}
                                    </a >
                                    {% endif %}
                                </div >
                            {% endfor %}
                        </div >
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                           data-slide="prev" >
                            <div class="arr_wrapper">
                                <span class="carousel-control-prev-icon" aria-hidden="true" ></span >
                            </div >
                            <span class="sr-only" >Previous</span >
                        </a >
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                           data-slide="next" >
                            <div class="arr_wrapper">
                            <span class="carousel-control-next-icon" aria-hidden="true" ></span >
                            </div>
                            <span class="sr-only" >Next</span >
                        </a >
                    </div >


                    {#<div class="slider" >#}
                    {#{% for slider in sliders %}#}
                    {#<div class="container-fluid" >#}
                    {#{% if (slider.link is null) or (slider.link =='' ) %}#}
                    {#{% else %}#}
                    {#<a href="{{ slider.link }}" >#}
                    {#{% endif %}#}
                    {#<img class='img-fluid' src="/uploads/file/{{ slider.image }}" >#}
                    {#{% if (slider.link is null) or (slider.link =='' ) %}#}
                    {#{% else %}#}
                    {#</a >#}
                    {#{% endif %}#}
                    {#</div >#}
                    {#{% endfor %}#}

                    {#</div >#}
                </div >
            </div >
        </div >
    </div >



    {#<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400" rel="stylesheet"/>#}
    {#<h1>Vue.js Card Carousel</h1>#}
    {#<script id="v-carousel" type="x/template">#}
    {#<div class="card-carousel-wrapper">#}
    {#<div class="card-carousel--nav__left" @click="moveCarousel(-1)" :disabled="atHeadOfList"></div>#}
    {#<div class="card-carousel">#}
    {#<div class="card-carousel--overflow-container">#}
    {#<div class="card-carousel-cards" :style="{ transform: 'translateX' + '(' + currentOffset + 'px' + ')'}">#}
    {#<div class="card-carousel--card" v-for="item in items"><img src="https://placehold.it/200x200"/>#}
    {#<div class="card-carousel--card--footer">#}
    {#<p>{{ item.name }}</p>#}
    {#<p>{{ item.tag }}</p>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="card-carousel--nav__right" @click="moveCarousel(1)" :disabled="atEndOfList"></div>#}
    {#</div>#}
    {#</script>#}


    {#<div class="brend_item fl" >#}
    {#<img src="{{ asset('img/zara.png') }}" >#}
    {#</div >#}
    {#<div class="brend_item fl" >#}
    {#<img src="{{ asset('img/bershka.png') }}" >#}
    {#</div >#}
    {#<div class="brend_item fl" >#}
    {#<img src="{{ asset('img/hm.png') }}" >#}
    {#</div >#}

    <div class="container-fluid dark_gre_b white_bm d-none d-lg-block" >
        <div class="wa" >

        </div >
    </div >


    <div class="container-fluid dark_gre_b white_bm d-none d-lg-block" >
        <div class="wa ofh" >
            <div id="app" >
                <carousel2 >

                </carousel2 >
            </div >
        </div >
    </div >
    <div class="container-fluid white_gre_b" >
        <div class="container" >
            <div class="row" >
                <div class=" col-12" >
                    <div class="about_index" id="about" >
                        <h2 class='center' >
                            О ПРОЕКТЕ
                        </h2 >
                        <div class="advantages_blk flex f_vertical f_gorizontal d-md-flex d-none" >
                            {% for plus in pluses %}
                                <div class="advantage_item fl" >
                                    {{ plus.plus }}
                                </div >
                            {% endfor %}

                        </div >
                        <div class="advantages_blk flex f_vertical f_gorizontal d-md-none d-block" >
                            {% for plus in pluses %}
                                <div class="row" >
                                    <div class="advantage_item_sm col-12 py-md-2 py-3" >
                                        {{ plus.plus }}
                                    </div >
                                </div >
                            {% endfor %}

                        </div >
                        <div class="description" >
                            <h4 class="center font20" >
                                {#ТЦ Смайл #}
                            </h4 >
                            <div class="font20 center" >
                                {{ about }}
                            </div >
                        </div >
                    </div >
                </div >
            </div >
        </div >

    </div >
    <div class="container-fluid white_bm red_b white_c" >
        <div class="wa" >
            <div class="actions_index" >
                <h2 class='center white_c' >
                    НОВОСТИ И АКЦИИ
                </h2 >

                <div class="row" >
                    {% set breakLoop = false %}
                    {% for new in news if breakLoop == false %}
                        {% if loop.index>1 %}
                            {% set breakLoop = true %}
                        {% endif %}
                        <div class="col-12 col-md-6 col-lg-3 pb-4" >

                            <div class="index_actions_item mx-auto " >
                                <div class="action_img" >
                                    <a href="{{ path('news_item',{'id':new.id }) }}" > <img
                                                src="/uploads/file/{{ new.preview }}" alt="" class="img-fluid" ></a >
                                </div >
                                <div class="hatch" >
                                    <a href="{{ path('news_item',{'id':new.id}) }}" > <img
                                                src="{{ asset('img/hatch.png') }}" alt="" class="img-fluid" ></a >
                                </div >
                                <div class="action_text_blk" >
                                    <div class="action_content" >
                                        <div class="type_action" >
                                            Новости
                                        </div >
                                        <h4 >
                                            <a href="{{ path('news_item',{'id':new.id}) }}" >{{ new.name |striptags[:35] }}</a >
                                        </h4 >
                                        <div class="index_action_descriptin" >
                                            <a href="{{ path('news_item',{'id':new.id}) }}" >
                                                {{ new.description|striptags[:50] }}...
                                            </a >
                                        </div >
                                    </div >
                                    <div class="action_date" >
                                        {{ new.date|date("d.m.Y") }}
                                    </div >
                                </div >
                            </div >
                        </div >
                    {% endfor %}
                    {% set breakLoop = false %}
                    {% for action in actions if breakLoop == false %}
                        {% if loop.index>1 %}
                            {% set breakLoop = true %}
                        {% endif %}
                        <div class="col-12 col-md-6 col-lg-3 pb-4 " >

                            <div class="index_actions_item mx-auto " >
                                <div class="action_img" >
                                    <a href="{{ path('action_item',{'id':action.id }) }}" > <img
                                                src="/uploads/file/{{ action.photoSmall }}" alt=""
                                                class="img-fluid" ></a >
                                </div >
                                <div class="hatch" >
                                    <a href="{{ path('action_item',{'id':action.id}) }}" > <img
                                                src="{{ asset('img/hatch.png') }}" alt="" class="img-fluid" ></a >
                                </div >
                                <div class="action_text_blk" >
                                    <div class="action_content" >
                                        <div class="type_action" >
                                            Акции
                                        </div >
                                        <h4 >
                                            <a href="{{ path('action_item',{'id':action.id}) }}" >{{ action.name }}</a >
                                        </h4 >
                                        <div class="index_action_descriptin" >
                                            <a href="{{ path('action_item',{'id':action.id}) }}" >
                                                {{ action.description|striptags[:50] }}...
                                            </a >
                                        </div >
                                    </div >
                                    <div class="action_date" >
                                        {{ action.dateStart|date("d.m.Y") }} - {{ action.dateFinish|date("d.m.Y") }}
                                    </div >
                                </div >
                            </div >
                        </div >
                    {% endfor %}

                </div >
                <div class="next_action_slider" ></div >
            </div >
            <a href="{{ path('news') }}" >
                <div class="black_button center" >
                    СМОТРЕТЬ ВСЕ<br >
                    НОВОСТИ И АКЦИИ
                </div >
            </a >
            <div class="help" ></div >
        </div >
    </div >
    </div >
{% endblock %}
{% block subscribe %}
    <div class="row white_bm" >
        <div class="col-lg-6 d-none left_part_subscribe d-md-block" >
            <div class="right" >
                <img class="subscribe" src="{{ asset('img/subscribe.png') }}" >
            </div >
        </div >
        <div class="col-lg-6 col-12 dark_gre_b" >
            <div class="px-5 py-5 subscribe_blk " >
                <div class="font20 black" id="thanks" >
                    ПОДПИШИСЬ НА НАШУ РАССЫЛКУ
                </div >
                <div class="subscribe_text" id="thanks2" >
                    и регулярно получай купоны<br >
                    на розыгрыши бытовой и цифровой техники<br >
                    и других полезных призов!<br >
                </div >
                <div id="subscribe_input" >
                    {{ form_start(form) }}
                    <div >
                        {{ form_widget(form.email, {'attr': {'class': 'subscribe_input','placeholder':'EMAIL'}}) }}

                    </div >
                    <div class="black_gray" >
                        {{ form_widget(form.activate) }}

                        <span class="black_gray" > Я прочитал и принимаю <a href=""
                                                                            class="black_gray" >политику конфиденциальности</a ></span >
                    </div >
                    {{ form_end(form) }}
                    <div class="pt-3" >
                        <div class="button_not_active fl" onclick="subscrube()" id="subscribe_button" >Подписаться
                        </div >
                    </div >
                </div >
            </div >
        </div >
    </div >


{% endblock %}
{% block smm %}
    <div class="row social_media_blk" >
        <div class="col-4" >
            <div class="smm_item  mx-auto" >
                <div class="smm_in" ><a href="https://www.instagram.com/smile_tomsk/" class="block" ></a ></div >
            </div >
        </div >
        <div class="col-4" >
            <div class="smm_item  mx-auto" >
                <div class="smm_vk" ><a href="https://www.vk.com/smilecity.tomsk" class="block" ></a ></div >
            </div >
        </div >
        {#<div class="col-4" >#}
        {#<div class="smm_item  mx-auto" >#}
        {#<div class="smm_fb" ><a href="" class="block" ></a ></div >#}
        {#</div >#}
        {#</div >#}
    </div >
{% endblock %}
{% block footer %}

    <div class="row_my footer_grey d-none d-md-block" >
        <div class="wa" >
            <div class="footer " >
                <div class="footer_contacts_blk fl" >
                    <div class="footer_contacts black" >
                        +7 (3822) 903-428<br >
                        Г. ТОМСК УЛ УЧЕБНАЯ, 48Д<br >
                        Г. ТОМСК УЛ КОТОВСКОГО 19/1
                    </div >
                    <div class="regulations" >
                        <a href="{{ path('plainpage_show',{'linkName':'pravila-tc'}) }}" class="grey_link" >
                            Правила пребывания в Смайлcity</a >
                    </div >
                </div >
                <div class="footer_menu_blk fl" >
                    <div class="pr40 fl" >
                        <div class="footer_menu_item" >
                            <a href="#about" >О проекте</a >
                        </div >
                        <div class="footer_menu_item" >
                            <a href="{{ path('news') }}" >Новости и акции</a >
                        </div >
                        <div class="footer_menu_item" >
                            <a href="{{ path('department') }}" >Отделы ТЦ</a >
                        </div >
                    </div >
                    <div class="pr40 fl" >
                        <div class="footer_menu_item" >
                            <a href="{{ path('contacts') }}" >Контакты</a >
                        </div >
                        <div class="footer_menu_item" >
                            <a href="" >Арендатору</a >
                        </div >
                        <div class="footer_menu_item" >
                            <a href="{{ path('plainpage_show',{'linkName':'ad'}) }}" >Размещение рекламы в ТЦ</a >
                        </div >
                    </div >
                </div >
                <div class="footer_menu_logo" >
                    <div class="right" >
                        <a href="{{ path('index') }}" ><img src="{{ asset('img/logo.png') }}" alt=""
                                                           class="footer_logo" ></a >
                    </div >
                </div >
            </div >
        </div >
    </div >

    <div class="row footer_grey_sm d-flex d-md-none" >

        <div class="col-md-2 col-12 py-md-3 py-4" >
            <div class="row" >
                <div class="footer_contacts black text-center col-12" >
                    +7 (3822) 903-428<br >
                    Г. ТОМСК УЛ УЧЕБНАЯ, 48Д<br >
                    Г. ТОМСК УЛ КОТОВСКОГО 19/1
                </div >
                <div class="regulations text-center col-12" >
                    <a href="{{ path('plainpage_show',{'linkName':'pravila-tc'}) }}" class="grey_link" >Правила
                        пребывания в СМАЙЛ city</a >
                </div >
            </div >
        </div >
        <div class="fl col-md-7 col-12 pb-4" >
            <div class="row" >
                <div class="col-6" >
                    <div class="text-center" >
                        <a href="#about" >О проекте</a >
                    </div >
                    <div class="text-center" >
                        <a href="{{ path('news') }}" >Новости и акции</a >
                    </div >
                    <div class="text-center" >
                        <a href="{{ path('department') }}" >Отделы ТЦ</a >
                    </div >
                </div >
                <div class="col-6" >
                    <div class="text-center" >
                        <a href="{{ path('contacts') }}" >Контакты</a >
                    </div >
                    <div class="text-center" >
                        <a href="" >Арендатору</a >
                    </div >
                    <div class="text-center" >
                        <a href="{{ path('plainpage_show',{'linkName':'ad'}) }}" >Рекламы в ТЦ</a >
                    </div >
                </div >
            </div >
        </div >
        {#<div class="footer_menu_blk fl col-md-7 col-12 pb-4" >#}
        {#<div class="row" >#}
        {#<div class="pr40 fl col-6" >#}
        {#<div class="footer_menu_item" >#}
        {#<a href="#about" >О проекте</a >#}
        {#</div >#}
        {#<div class="footer_menu_item" >#}
        {#<a href="{{ path('news') }}" >Новости и акции</a >#}
        {#</div >#}
        {#<div class="footer_menu_item" >#}
        {#<a href="{{ path('department') }}" >Отделы ТЦ</a >#}
        {#</div >#}
        {#</div >#}
        {#<div class="pr40 fl col-6" >#}
        {#<div class="footer_menu_item" >#}
        {#<a href="{{ path('contacts') }}" >Контакты</a >#}
        {#</div >#}
        {#<div class="footer_menu_item" >#}
        {#<a href="" >Арендатору</a >#}
        {#</div >#}
        {#<div class="footer_menu_item" >#}
        {#<a href="{{ path('plainpage_show',{'linkName':'ad'}) }}" >Рекламы в ТЦ</a >#}
        {#</div >#}
        {#</div >#}
        {#</div >#}
        {#</div >#}
        <div class="col-md-2" >
            <div class="text-center pt-2 pb-4" >
                <a href="{{  path('index') }}" ><img src="{{ asset('img/logo.png') }}" alt=""
                                                   class="footer_logo" ></a >
            </div >
        </div >
    </div >

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <script type="text/javascript" >

        $('#subscriber_activate').click(function () {
            if ($(this).is(':checked')) {
                $('#subscribe_button').removeClass('button_not_active');
                $('#subscribe_button').addClass('button');
                $('#subscribe_button').attr('onclick', 'subscrube()');
            } else {
                $('#subscribe_button').removeClass('button')
                $('#subscribe_button').addClass('button_not_active');
                $('#subscribe_button').removeAttr('onclick');
            }
        });


        Vue.component("carousel2", {
            delimiters: ['$[', ']'],
            template: `
            <div class="big_row">
            <div class="left_place_nav">
            <div class="grey_row">
            <div class="card-carousel--nav__left" @click="moveCarousel(-1)" :disabled="atHeadOfList" ></div >
            </div>
            </div>
            <div class="center_slider ofh">
            <div class="grey_row between">
            <div class="card-carousel-cards_wrapper" :style="{ transform: 'translateX' + '(' + currentOffset + 'px' + ')'}" >
            <div class=" flex f_gorizontal">
            <div class="brend_item fl card-carousel-cards "  v-for="item in items" >
            <div class="img_logog" >
            <div class='image_wrapper'>
            <img :src='item.logo_grey' class='logo_grey'>
            </div>
            <div class="brant_item_hover" >
            <div class="img_logog2" >
            <a :href='item.link'> <img :src="item.logo" class="color_logo" ></a>
            </div >
            <div class='separator_vert_red' ></div >
            <div class="category_logo" >
            <span v-for="category in item.categories">$[ category ]</span>
        </div >

        <div class="button_floor_red" v-bind:floor="item.floor">$[item.floor] этаж</div >
        </div >

        </div >
        </div >
        </div>
        </div >
        <div class="more_brand_slider">
            <a href='{{ path('department') }}' class='box_con'><div class="button_white2">СМОТРЕТЬ ВСЁ</div ></a>
        </div>
        </div>
        </div>
        <div class="left_place_nav">
            <div class="grey_row">
            <div class="card-carousel--nav__right" @click="moveCarousel(1)" :disabled="atEndOfList" ></div >
            </div>
            </div>
            </div>
            `,
            data() {
                return {
                    currentOffset: 0,
                    windowSize: 4,
                    paginationFactor: 240,
                    items: [
                        {% for renter in renters %}

                        {
                            logo: "/uploads/file/{{ renter.logo }}",
                            logo_grey: "/uploads/file/{{ renter.logoGrey }}",
                            categories: "{% for category in renter.categories %}{{ category.name }} {% endfor %}",
                            floor: "{{ renter.floor }}",
                            link: "/renter/{{ renter.id }}",
                            link_map: "/our_map/{{ renter.floor }}/{{ renter.id }}"
                        },
                        {% endfor %}
                    ]
                }
            },
            computed: {
                atEndOfList() {
                    return this.currentOffset <= (this.paginationFactor * -1) * (this.items.length - this.windowSize);
                },
                atHeadOfList() {
                    return this.currentOffset === 0;
                },
            },
            methods: {
                moveCarousel(direction) {
                    // Find a more elegant way to express the :style. consider using props to make it truly generic
                    if (direction === 1 && !this.atEndOfList) {
                        this.currentOffset -= this.paginationFactor;
                    } else if (direction === -1 && !this.atHeadOfList) {
                        this.currentOffset += this.paginationFactor;
                    }
                },
                oncursor() {

                }

            }
        });

        function subscrube() {
            var email = $("#subscriber_email").val();

            $.ajax({
                url: '/ajax/subscriber/new',
                data: 'email=' + email,
                dataType: "text",
                success: function (data) {

                    if (data == 1) {
                        $('#thanks').html('Спасибо за подписку!');
                        $('#thanks2').html('Ваш адрес успешно сохраннен!<br> Вы на правильном пути!<br>');
                        $('#subscribe_input').html('');
                    }
                    else {
                        $('#thanks').html('Что то пошло не так!');
                        $('#thanks2').html('Попробуйте позже.<br> Или напишите нашему администратору a420673@yandex.ru<br>');
                        $('#subscribe_input').html('');

                    }

                }


            })


        }

        new Vue({
            delimiters: ['$[', ']'],
            el: "#app",

        });


    </script >
{% endblock %}
</body >
</html >
