{% extends 'index.html.twig' %}

{% block title %}Акция{% endblock %}

{% block bread_crumbs %}
    <div class="container-fluid border_grey_b" >
        <div class="wa px-md-0 px-3" >
            <div class="bread_crumbs_row" >
                <a href="{{ path('index') }}" ><span >Главная</span ></a >
                <span class="rp20" >></span >
                <span class="active_crumbs" >Новости и акции</span >

            </div >
        </div >
    </div >
{% endblock %}
{% block content %}
    <div class="container-fluid white_bm white_c" >
        <div class="container" >

                <h1 class='zag_news red_c' >
                    НОВОСТИ
                </h1 >

                <div class="container" >
                    {#<div class="next_action_slider" ></div >#}
                    {% for new in news %}
                    {% if loop.index0 == 0 %}
                    <div class="row" >
                        {% endif %}
                        {% if loop.index0 >3 and loop.index0%4 ==0 %}
                        <div class="row d-none" id="hide_{{ loop.index0//4 }}_1" >
                            {% endif %}
                            <div class="col-12 col-md-6 col-lg-3 pb-4" >
                                <div class="index_actions_item mx-auto " >
                                    <div class="action_img" >
                                        <a href="{{ path('news_item',{'id':new.id }) }}" > <img
                                                    src="/uploads/file/{{ new.preview }}" alt=""
                                                    class="img-fluid" ></a >
                                    </div >
                                    <div class="hatch" >
                                        <a href="{{ path('news_item',{'id':new.id}) }}" > <img
                                                    src="{{ asset('img/hatch.png') }}" alt="" class="img-fluid" ></a>
                                    </div >
                                    <div class="action_text_blk" >
                                        <div class="action_content" >
                                            <div class="type_action" >
                                                Новости
                                            </div >
                                            <h4 >
                                                <a href="{{ path('news_item',{'id':new.id}) }}" >{{ new.name }}</a >
                                            </h4 >
                                            <div class="index_action_descriptin" >
                                                <a href="{{ path('news_item',{'id':new.id}) }}" >
                                                    {{ new.description|striptags[:50] }}...
                                                </a >
                                            </div >
                                        </div >
                                        <div class="action_date" >
                                            14 апреля 2019
                                        </div >
                                    </div >
                                </div >
                            </div >
                            {% if loop.index0 == 3 %}
                        </div >
                        {% elseif loop.last %}

                    </div >
                    {% endif %}
                    {% if loop.index0 >3 and  loop.index0%4 ==3 %}
                </div >
                {% elseif loop.last %}

            </div >
            {% endif %}
            {% endfor %}
            {#<div class="index_actions_item fl" >#}
            {#<div class="action_img" >#}
            {#<a href="{{ path('news_item',{'name':'test'}) }}"> <img src="{{ asset('img/act1-80.jpg') }}" alt="" class="action_item" ></a>#}
            {#</div >#}
            {#<div class="hatch" >#}
            {#<a href="{{ path('news_item',{'name':'test'}) }}"> <img src="{{ asset('img/hatch.png') }}" alt="" class="action_item" >#}
            {#</div >#}
            {#<div class="action_text_blk" >#}
            {#<div class="action_content" >#}
            {#<div class="type_action" >#}
            {#Новости#}
            {#</div >#}
            {#<h4 >#}
            {#<a href="{{ path('news_item',{'name':'test'}) }}">Как одеваться весной</a>#}
            {#</h4 >#}
            {#<div class="index_action_descriptin" >#}
            {#<a href="{{ path('news_item',{'name':'test'}) }}">#}
            {#Для тех кто не хочет выглядеть как радуга#}
            {#</a>#}
            {#</div >#}
            {#</div >#}
            {#<div class="action_date" >#}
            {#14 апреля 2019#}
            {#</div >#}
            {#</div >#}
            {#</div >#}
            {#<div class="index_actions_item fl" >#}
            {#<div class="action_img" >#}
            {#<img src="{{ asset('img/ac4-80.png') }}" alt="" class="action_item" >#}
            {#</div >#}
            {#<div class="hatch" >#}
            {#<img src="{{ asset('img/hatch.png') }}" alt="" class="action_item" >#}
            {#</div >#}
            {#<div class="action_text_blk" >#}
            {#<div class="action_content" >#}
            {#<div class="type_action" >#}
            {#Новости#}
            {#</div >#}
            {#<h4 >#}
            {#Как одеваться весной#}
            {#</h4 >#}
            {#<div class="index_action_descriptin" >#}
            {#Для тех кто не хочет выглядеть как радуга#}
            {#</div >#}
            {#</div >#}
            {#<div class="action_date" >#}
            {#14 апреля 2019#}
            {#</div >#}
            {#</div >#}
            {#</div >#}
            {#<div class="index_actions_item fl" >#}
            {#<div class="action_img" >#}
            {#<img src="{{ asset('img/ac3-80.png') }}" alt="" class="action_item" >#}
            {#</div >#}
            {#<div class="hatch" >#}
            {#<img src="{{ asset('img/hatch.png') }}" alt="" class="action_item" >#}
            {#</div >#}
            {#<div class="action_text_blk" >#}
            {#<div class="action_content" >#}
            {#<div class="type_action" >#}
            {#Новости#}
            {#</div >#}
            {#<h4 >#}
            {#Как одеваться весной#}
            {#</h4 >#}
            {#<div class="index_action_descriptin" >#}
            {#Для тех кто не хочет выглядеть как радуга#}
            {#</div >#}
            {#</div >#}
            {#<div class="action_date" >#}
            {#14 апреля 2019#}
            {#</div >#}
            {#</div >#}
            {#</div >#}
            {#<div class="index_actions_item fl" >#}
            {#<div class="action_img" >#}
            {#<img src="{{ asset('img/ac2-80.png') }}" alt="" class="action_item" >#}
            {#</div >#}
            {#<div class="hatch" >#}
            {#<img src="{{ asset('img/hatch.png') }}" alt="" class="action_item" >#}
            {#</div >#}
            {#<div class="action_text_blk" >#}
            {#<div class="action_content" >#}
            {#<div class="type_action" >#}
            {#Новости#}
            {#</div >#}
            {#<h4 >#}
            {#Как одеваться весной#}
            {#</h4 >#}
            {#<div class="index_action_descriptin" >#}
            {#Для тех кто не хочет выглядеть как радуга#}
            {#</div >#}
            {#</div >#}
            {#<div class="action_date" >#}
            {#14 апреля 2019#}
            {#</div >#}
            {#</div >#}
            {#</div >#}
            {#<div class="next_action_slider" ></div >#}
        </div >
        <div class="black_white_button center" id='showmore1' onclick="show_more(1,1)" >
            ЕЩЁ
        </div >
        <div class="help" ></div >
    </div >
    </div >
    <div class="container-fluid white_bm white_c" >
        <div class="container" >
                <h1 class='zag_news red_c' >
                    АКЦИИ
                </h1 >
                <div class="container" >
                    {% for action in actions %}
                    {% if loop.index0 == 0 %}
                    <div class="row" >
                        {% endif %}
                        {% if loop.index0 >3 and loop.index0%4 ==0 %}
                        <div class="row d-none"  id="hide_{{ loop.index0//4 }}_2" >
                            {% endif %}
                            <div class="col-12 col-md-6 col-lg-3 pb-4" >

                                <div class="index_actions_item mx-auto " >
                                    <div class="action_img" >
                                        <a href="{{ path('action_item',{'id':action.id }) }}" ><img
                                                    src="/uploads/file/{{ action.photoSmall }}" alt=""
                                                    class="img-fluid" ></a >
                                    </div >
                                    <div class="hatch" >
                                        <a href="{{ path('action_item',{'id':action.id }) }}" ><img
                                                    src="{{ asset('img/hatch.png') }}" alt="" class="img-fluid" ></a >
                                    </div >
                                    <div class="action_text_blk" >
                                        <div class="action_content" >
                                            <div class="type_action" >
                                                Акции
                                            </div >
                                            <h4 >
                                                <a href="{{ path('action_item',{'id':action.id }) }}" >{{ action.name }}</a >
                                            </h4 >
                                            <div class="index_action_descriptin" >
                                                <a href="{{ path('action_item',{'id':action.id }) }}" >
                                                    {{ action.description|striptags[:50] }}...
                                                </a >
                                            </div >
                                        </div >
                                        <div class="action_date" >
                                            <a href="{{ path('action_item',{'id':action.id }) }}" >
                                                {{ action.dateStart|date('d.m.Y') }}
                                            </a >
                                        </div >
                                    </div >
                                </div >
                            </div >
                            {% if loop.index0 == 3 %}
                        </div >
                        {% elseif loop.last %}

                    </div >
                    {% endif %}
                    {% if loop.index0 >3 and  loop.index0%4 ==3 %}
                </div >
                {% elseif loop.last %}

            </div >
            {% endif %}
            {% endfor %}
            {#<div class="index_actions_item fl" >#}
            {#<div class="action_img" >#}
            {#<img src="{{ asset('img/ac4-80.png') }}" alt="" class="action_item" >#}
            {#</div >#}
            {#<div class="hatch" >#}
            {#<img src="{{ asset('img/hatch.png') }}" alt="" class="action_item" >#}
            {#</div >#}
            {#<div class="action_text_blk" >#}
            {#<div class="action_content" >#}
            {#<div class="type_action" >#}
            {#Новости#}
            {#</div >#}
            {#<h4 >#}
            {#Как одеваться весной#}
            {#</h4 >#}
            {#<div class="index_action_descriptin" >#}
            {#Для тех кто не хочет выглядеть как радуга#}
            {#</div >#}
            {#</div >#}
            {#<div class="action_date" >#}
            {#14 апреля 2019#}
            {#</div >#}
            {#</div >#}
            {#</div >#}
            {#<div class="index_actions_item fl" >#}
            {#<div class="action_img" >#}
            {#<img src="{{ asset('img/ac3-80.png') }}" alt="" class="action_item" >#}
            {#</div >#}
            {#<div class="hatch" >#}
            {#<img src="{{ asset('img/hatch.png') }}" alt="" class="action_item" >#}
            {#</div >#}
            {#<div class="action_text_blk" >#}
            {#<div class="action_content" >#}
            {#<div class="type_action" >#}
            {#Новости#}
            {#</div >#}
            {#<h4 >#}
            {#Как одеваться весной#}
            {#</h4 >#}
            {#<div class="index_action_descriptin" >#}
            {#Для тех кто не хочет выглядеть как радуга#}
            {#</div >#}
            {#</div >#}
            {#<div class="action_date" >#}
            {#14 апреля 2019#}
            {#</div >#}
            {#</div >#}
            {#</div >#}
            {#<div class="index_actions_item fl" >#}
            {#<div class="action_img" >#}
            {#<img src="{{ asset('img/ac2-80.png') }}" alt="" class="action_item" >#}
            {#</div >#}
            {#<div class="hatch" >#}
            {#<img src="{{ asset('img/hatch.png') }}" alt="" class="action_item" >#}
            {#</div >#}
            {#<div class="action_text_blk" >#}
            {#<div class="action_content" >#}
            {#<div class="type_action" >#}
            {#Новости#}
            {#</div >#}
            {#<h4 >#}
            {#Как одеваться весной#}
            {#</h4 >#}
            {#<div class="index_action_descriptin" >#}
            {#Для тех кто не хочет выглядеть как радуга#}
            {#</div >#}
            {#</div >#}
            {#<div class="action_date" >#}
            {#14 апреля 2019#}
            {#</div >#}
            {#</div >#}
            {#</div >#}
            <div class="next_action_slider" ></div >
        </div >
        <div class="black_white_button center" id='showmore2' onclick="show_more(2,1)" >
            ЕЩЁ
        </div >
        <div class="help" ></div >
    </div >
    </div >
    </div >
{% endblock %}
{% block javascripts %}
    <script type="application/javascript" >


        function show_more(type, row) {
            jQuery.fn.exists = function () {
                return this.length > 0;
            }

            $('#hide_' + row + '_' + type).removeClass('d-none');
            $('#hide_' + row + '_' + type).addClass('row');
            $('#showmore' + type).attr('onclick', 'show_more(' + type + ',' + row + 1 + ')');
            if ($('#hide_' + row + 1 + '_' + type).exists()) {

            } else {
                $('#showmore' + type).hide();

            }

        };

    </script >
{% endblock %}