{% extends 'admin/index.html.twig' %}
  {% block content %}
      <div class="content-wrapper" >
          <!-- Content Header (Page header) -->
          <section class="content-header" >
              <h1 >
                  Обратная связь

              </h1 >
              <ol class="breadcrumb" >
                  <li ><a href="#" ><i class="fa fa-dashboard" ></i > Home</a ></li >
                  <li class="active" >Обратная связь</li >
              </ol >
          </section >

          <!-- Main content -->
          <section class="content" >
              <!-- /.row -->
              <!-- Main row -->

              <div class="row" >
                  <div class="col-md-12" >
                      <div class="box box-warning" >

                          <div class="box-body">
                              <table id="example2" class="table table-bordered table-hover">
                                  <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>Тема</th>
                                      <th>Дата</th>
                                      <th>Email</th>
                                      <th>ФИО</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  {% for feedback in feedbacks %}
                                  <tr onclick="window.location.href='{{ path('feedback_show',{'id':feedback.id}) }}'; return false">
                                      <td>{{ loop.index }}</td>
                                      <td>{{ feedback.type }}
                                      </td>

                                      <td>{{ feedback.date|date("d.m.Y") }}</td>
                                      <td>{{ feedback.email }}</td>
                                      <td>{{ feedback.name }}</td>
                                  </tr>
                                  {% endfor %}

                                  </tbody>
                              </table>
                          </div>
                      </div >
                  </div >
              </div >
          </section >

          <!-- /.content -->
  {% endblock %}